<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가-->
<!--src/main/resources/static은 URL에서 /로 정의됨-->
<script src="/js/app/index.js"></script>
</body>
</html>